<div class="alert alert-info">
  <ul>
    <li>位置左/右分别代表主页左/右的两个大图片，需要上传图片。</li>
    <li>位置中代表首页的视频，需要上传视频，并添加视频类型。</li>
    <li>位置广告代表首页的广告，需要上传广告图片，并添加广告链接。</li>
    <li>广告链接格式必须为http://www.brp.ch/fr/accueil.html</li>
  </ul>
</div>
<%= simple_form_for [:admin, @doing], :defaults => { :input_html => { :class => "form-control" } }, html: { multipart: true, class: 'form-horizontal' } do |f| %>  
  <%= f.input :position, collection: Doing.positions, label: "位置" %>  
  <%= f.input :name, label: "名称" %> 
  <%= f.input :cover, :input_html => { :class => "btn btn-default" }, label: "图片"  %>  
  <%= f.input :video, :input_html => { :class => "btn btn-default" }, label: "视频"  %>  
  <%= f.input :video_type, collection: Doing.video_types, label: "视频类型"  %> 
  <%= f.input :src, label: "广告/视频/flash链接"  %>
  <%= f.button :wrapped, value: "commit" %>  
<% end %>

<script type="text/javascript">
  $(function() {

    function display_banner() {
      $('div.doing_video').hide();
      $('div.doing_video_type').hide();
      $('div.doing_src').hide();
    }

    function display_advertise() {
      $('div.doing_video').hide();
      $('div.doing_video_type').hide();
      $('div.doing_src').show();
    }

    function display_video() {
      $('div.doing_video').show();
      $('div.doing_video_type').show();
      $('div.doing_src').show();     
    }

    function display_flash() {
      $('div.doing_video').show();
      $('div.doing_video_type').hide();
      $('div.doing_src').show();     
    }

    $("#doing_position").change(function() {
      switch(this.value)
      {
      case "左":
        display_banner();
        break;
      case "右":
        display_banner();
        break;
      case "广告":
        display_advertise();
        break;
      case "视频":
        display_video();
        break;
      case "flash":
        display_video();
        break;
      default:
        display_video();
      }
    });

    <% case @doing.position %>
    <% when "左","右" %>
      display_banner();
    <% when "广告" %>
      display_advertise();
    <% when "视频" %>
      display_video();
    <% when "flash" %>
      display_flash();
    <% end %>

  });
</script>
