<div class="alert alert-info">
  <ul>
    <li>位置左/右分别代表主页左/右的两个大图片，需要上传图片。</li>
    <li>位置中代表首页的视频，需要上传视频，并添加视频类型。</li>
    <li>位置广告代表首页的广告，需要上传广告图片，并添加广告链接。</li>
  </ul>
</div>
<%= simple_form_for [:admin, @doing], :defaults => { :input_html => { :class => "form-control" } }, html: { multipart: true, class: 'form-horizontal' } do |f| %>  
  <%= f.input :position, collection: Doing.positions, label: "位置" %>  
  <%= f.input :name, label: "名称" %> 
  <%= f.input :cover, :input_html => { :class => "btn btn-default" }, label: "图片"  %>  
  <%= f.input :video, :input_html => { :class => "btn btn-default" }, label: "视频"  %>  
  <%= f.input :video_type, collection: Doing.video_types, label: "视频类型"  %> 
  <%= f.input :src, label: "广告链接"  %>
  <%= f.button :wrapped, value: "commit" %>  
<% end %>

<%= javascript_tag do %>
  
<% end %>
