<h1>焦点图</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cover</th>
      <th>位置</th>
      <th>视频</th>
      <th>广告链接</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @doings.each do |doing| %>
      <tr>
        <td><%= doing.name %></td>
        <td><%= doing.cover? ? "true" : "" %></td>
        <td><%= doing.position %></td>
        <td><%= doing.video.present? && doing.video_type.present? ? "true" : "" %></td>
        <td><%= doing.src %></td>
        <td><%= link_to 'Show', [:admin,doing] %></td>
        <td><%= link_to 'Edit', edit_admin_doing_path(doing) %></td>
        <td><%= link_to 'Destroy', [:admin,doing], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doing', new_admin_doing_path %>
