<p id="notice"><%= notice %></p>

<p>
  <strong>标题:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>封面:</strong>
  <%= image_tag @article.cover.url(:small) if @article.cover %>
</p>

<p>
  <strong>置顶:</strong>
  <%= @article.top %>
</p>

<p>
  <strong>置顶图:</strong>
  <%= image_tag @article.top_cover.url(:small) if @article.top_cover %>
</p>

<p>
  <strong>置顶时间:</strong>
  <%= @article.top_at %>
</p>

<p>
  <strong>相关产品:</strong>
  <ul>
  <% @article.products.each do |product| %>
		<li><%= link_to product.title, admin_product_path(product) %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>内容:</strong>
  <%= @article.content.html_safe %>
</p>

<%= link_to 'Edit', edit_admin_article_path(@article) %> |
<%= link_to 'Back', admin_articles_path %>
