<%= simple_form_for [:admin, @order], :defaults => { :input_html => { :class => "form-control" } }, html: { multipart: true, class: 'form-horizontal' } do |f| %> 
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :contact_person %>
    <%= f.input :email, as: :email %>
    <%= f.input :mobile %>
    <%= f.input :pnumber %>
    <%= f.input :check_in, :as => :ui_date_picker %>
    <%= f.input :leave_away, :as => :ui_date_picker %>
    <%= f.association :product %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
