<% content_for :content do %>
<div id="main_body">
 	<div class="index_show">
  <% if advertise = Doing.advertise_banners.first %>
	<a href="<%=advertise.src%>" target="_blank">
		<%= image_tag advertise.cover.url, style: "position:absolute;z-index:999;", width: "1290", height: "480", id: "advertise_pic" %>
	</a>
 	<% end %>
 	<a class="show_1" href="#nogo">
 		<% if Doing.left_banners.present? %>
 			<% left_banner = Doing.left_banners.last %>
	 		<%= image_tag Doing.left_banners.last.cover.url(:small), onclick: "document.location = '#{left_banner.src}'" %>
			<span class="zzjs"><%= Doing.left_banners.last.name %></span>
 		<% end %>
	</a>
	<% if Doing.video_banners.present? %>
	 	<video class="index_s at_cl_vedio video-js vjs-default-skin"
					  controls preload="auto" width="421" height="480"
					  poster="<%= Doing.video_banners.last.cover.url(:video) if Doing.video_banners.present? %>"
					  data-setup='{"example_option":true}'>
					<% Doing.video_banners.each do |video_banner| %>
						<% if video_banner.src.present? %>
							<source src="<%= video_banner.src %>" type='<%= video_banner.video_type %>' />
						<% else %>
							<source src="<%= video_banner.video_url %>" type='<%= video_banner.video_type %>' />
						<% end %>
			 		<% end %>
		</video>
	  <span class="zzjx"><%= Doing.video_banners.last.name %></span>
  <% elsif Doing.flash_banners.present? %>
		<% if Doing.flash_banners.first.present? %>
			<object width="400" height="480" data="<%= Doing.flash_banners.first.src %>"></object>
		<% else %>
			<object width="400" height="480" data="<%= Doing.flash_banners.first.video_url %>"></object>
		<% end %>
  <% end %>			
	<a class="show_1" href="#nogo">
		<% if Doing.right_banners.present? %>
			<% right_banner = Doing.right_banners.last %>
      <%= image_tag Doing.right_banners.last.cover.url(:small), onclick: "document.location = '#{right_banner.src}'" %>
	   	<span class="zzj"><%= Doing.right_banners.last.name %></span>
		<% end %>
	</a>
 	</div>


  <div class="lei">
  	<%= image_tag "hotel.png", style: "margin-left:10%;" %>
  	<%= image_tag "video.png", style: "margin-left:20%;" %>
  	<%= image_tag "news.png", style: "margin-left:20%;" %>
 	</div>


  <div class="body_half">
		<div id="focus"></div>
		<%= image_tag "what.png" %>
		<%= javascript_include_tag "swfobject", "data-turbolinks-track" => true %>
		<script type="text/javascript">
			var pics = "";
			var links = "";
			var texts = ""; 
			<% left_lamps = Lamp.where(position: "左").all %>
			<% left_lamps.each_with_index do |lamp,index| %>
				pics += "<%= lamp.cover.url(:small) %>";
				links += "/articles";
				texts += "<%= lamp.name %>";
				<% if index < left_lamps.size - 1 %>
					pics += "|";
					links += "|";
					texts += "|";				
				<% end %>
			<% end %>

			var so = new SWFObject("/assets/wheel.swf", "focus", "440", "220", "7", "#ffffff");
			so.addParam('wmode','transparent');
			so.addVariable("picurl",pics);
			so.addVariable("pictext",texts);
			so.addVariable("piclink",links);
			so.addVariable("pictime","3");
			so.addVariable("borderwidth","264");
			so.addVariable("borderheight","352");
			so.addVariable("borderw","true");
			so.addVariable("buttondisplay","true");
			so.addVariable("textheight","1");
			so.write("focus");
		</script>
	</div>
	<div  class="cut body_half">
		<div id="focus_2"></div>
		<%= image_tag "where.png" %>
   	<script type="text/javascript">
   		var pics = "";
			var links = "";
			var texts = ""; 

			<% right_lamps = Lamp.where(position: "右").all %>
			<% right_lamps.each_with_index do |lamp,index| %>
				pics += "<%= lamp.cover.url(:small) %>";
				links += "/products";
				texts += "<%= lamp.name %>";
				<% if index < right_lamps.size - 1 %>
					pics += "|";
					links += "|";
					texts += "|";				
				<% end %>
			<% end %>

			var so = new SWFObject("/assets/wheel.swf", "focus_2", "440", "220", "7", "#ffffff");
			so.addParam('wmode','transparent');
			so.addVariable("picurl",pics);
			so.addVariable("pictext",texts);
			so.addVariable("piclink",links);
			so.addVariable("pictime","3");
			so.addVariable("borderwidth","164");
			so.addVariable("borderheight","252");
			so.addVariable("borderw","true");
			so.addVariable("buttondisplay","true");
			so.addVariable("textheight","1");
			so.write("focus_2");
		</script>
 	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(navClose,5000);
	});

	function navClose() {
		if($("#advertise_pic"))
			$("#advertise_pic").hide();
	}
</script>

<% end %>