<% content_for :content do %>
<div id="main_body">
 	<div class="index_show">
  <% if advertise = Doing.advertise_banners.first %>
	<a href="<%=advertise.src%>" target="_blank">
		<%= image_tag advertise.cover_url, style: "position:absolute;z-index:10086;", width: "1290", height: "480", id: "advertise_pic" %>
	</a>
 	<% end %>
 	<a class="show_1" href="#nogo">
 		<% if Doing.left_banners.present? %>
 		<%= image_tag Doing.left_banners.last.cover_url(:banner) %>
		<span class="zzjs"><%= Doing.left_banners.last.name %></span>
 		<% end %>
	</a>
 	<video class="index_s at_cl_vedio video-js vjs-default-skin"
				  controls preload="auto" width="421" height="480"
				  poster="<%= Doing.video_banners.last.cover_url(:banner) if Doing.video_banners.present? %>"
				  data-setup='{"example_option":true}'>
				<% Doing.video_banners.each do |video_banner| %>
				 	<source src="<%= video_banner.video_url %>" type='<%= video_banner.video_type %>' />
		 		<% end %>
	</video>
	<% if Doing.video_banners.present? %>
  <span class="zzjx"><%= Doing.video_banners.last.name %></span>
  <% end %>			
	<a class="show_1" href="#nogo">
		<% if Doing.right_banners.present? %>
      <%= image_tag Doing.right_banners.last.cover_url(:banner) %>
	   	<span class="zzj"><%= Doing.right_banners.last.name %></span>
		<% end %>
	</a>
 	</div>


  <div class="lei">
  	<img src="/assets/hotel.png" style="margin-left:10%;"/>
	  <img src="/assets/video.png" style="margin-left:20%;"/>
	  <img src="/assets/news.png" style="margin-left:20%;"/>
 	</div>


  <div class="body_half">
		<div id="focus"></div>
		<%= image_tag "what.png" %>
		<%= javascript_include_tag "swfobject" %>
		<script type="text/javascript">
			var pics = "";
			var links = "";
			var texts = ""; 
			<% left_doings = Doing.where(position: "左下").all %>
			<% left_doings.each_with_index do |doing,index| %>
				pics += "<%= doing.cover_url(:normal) %>";
				links += "/content";
				texts += "";
				<% if index < left_doings.size - 1 %>
					pics += "|";
					links += "|";
					texts += "|";				
				<% end %>
			<% end %>

			var so = new SWFObject("/assets/wheel.swf", "focus", "440", "220", "7", "#ffffff");
			so.addParam('wmode','transparent');
			so.addVariable("picurl",pics);
			so.addVariable("pictext",texts);
			so.addVariable("piclink",links);
			so.addVariable("pictime","3");
			so.addVariable("borderwidth","264");
			so.addVariable("borderheight","352");
			so.addVariable("borderw","true");
			so.addVariable("buttondisplay","true");
			so.addVariable("textheight","1");
			so.write("focus");
		</script>
	</div>
	<div  class="cut body_half">
		<div id="focus_2"></div>
		<%= image_tag "where.png" %>
   	<script type="text/javascript">
   		var pics = "";
			var links = "";
			var texts = ""; 

			<% right_doings = Doing.where(position: "右下").all %>
			<% right_doings.each_with_index do |doing,index| %>
				pics += "<%= doing.cover_url(:normal) %>";
				links += "/list";
				texts += "";
				<% if index < right_doings.size - 1 %>
					pics += "|";
					links += "|";
					texts += "|";				
				<% end %>
			<% end %>

			var so = new SWFObject("/assets/wheel.swf", "focus_2", "440", "220", "7", "#ffffff");
			so.addParam('wmode','transparent');
			so.addVariable("picurl",pics);
			so.addVariable("pictext",texts);
			so.addVariable("piclink",links);
			so.addVariable("pictime","3");
			so.addVariable("borderwidth","164");
			so.addVariable("borderheight","252");
			so.addVariable("borderw","true");
			so.addVariable("buttondisplay","true");
			so.addVariable("textheight","1");
			so.write("focus_2");
		</script>
 	</div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		setTimeout(navClose,5000);
	});

	function navClose() {
		if($("#advertise_pic"))
			$("#advertise_pic").hide();
	}
</script>

<% end %>


<% content_for :footer do %>
	<div class="search">
 		<input id="searchKey" type="text" value="" placeholder="Search"  />
		<a href="" onclick=""></a>
	</div>
<% end %>

