<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>封面:</strong>
  <%= image_tag @product.cover.url(:small) %>
</p>

<p>
  <strong>国家:</strong>
  <%= @product.country %>
</p>

<p>
  <strong>城市:</strong>
  <%= @product.city %>
</p>

<p>
  <strong>相关文章:</strong>
  <ul>
  <% @product.articles.each do |article| %>
    <li><%= link_to article.title, admin_article_path(article) %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong>内容:</strong>
  <%= @product.content.html_safe %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@product) %> |
<%= link_to 'Back', admin_products_path %>
