<!doctype html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>路克深度游</title>
<meta name="keywords" content=""/>
<meta name="description" content=""/>

	<!--[if lt IE 9]>
	  <%= javascript_include_tag 'html5shiv-printshiv' %>
	<![endif]-->

	<link href="http://cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://cdn.staticfile.org/video.js/4.1.0/video-js.min.css">
	
	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body>
	<div class="header">
		<%= image_tag "title.png", alt: "路克海外深度游", class: "title" %>
		<%= image_tag "English.png", alt: "English_version", class: "english" %>
	</div>
	<div class="logo">
		<%= image_tag "logo.png", alt: "路克海外深度游" %>
	</div>

	<%= yield %>
	<%= content_for?(:content) ? yield(:content) : yield %>

	<footer>
	  <div class="f_c">
	   	<div class="f_dis f_1">
	   		<%= content_for?(:footer) ? yield(:footer) : yield %>	
	      <div>			
			   	<ul>
						<li><a href="#nogo">关于我们</a></li>
						<li><a href="#nogo">联系我们</a></li>
			   	</ul>
				</div>
			</div>
			<div class="f_1">
				<ul>
					<li><a href="#nogo">关于我们</a></li>
					<li><a href="#nogo">联系我们</a></li>
					<li><a href="#nogo">会员管理</a></li>
					<li><a href="#nogo">合作伙伴</a></li>
				</ul>
			</div>
			<div class="f_1">
				<%= image_tag "QR.png" %>
			</div>
		</div>  
	</footer>
</body>
</html>